@import "mixins";
@import "flexbox";

.btn-nav-container{
	width: 98%;
	height: 40px;
	border: 1px solid $blue;
	@include rounded(4px);
	@include flexbox();
	@include justify-content(space-between);
	padding: 0;
	margin: 0 auto;
}

.btn-nav{
	list-style-type: none;
	padding-top: 12px;
	padding-bottom: 12px;
	border-right: 1px solid $blue;
	@include flex-grow(1);
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	@include transition(0.2s);

	.btn-switch-1, .btn-switch-2, .btn-switch-3{

	}

	&:last-child{
		border-right: 0;
	}

	&:hover{
		cursor: pointer;
		color: white;
		background-color: darken($blue, 15%);
		@include transition(0.2s);
		border-right: darken($blue, 15%);

	}
}

.btn-active{
	background-color: $blue;
	color: white;
}

@media screen and (max-width: $mobile){
	.btn-nav-container{
		width: 92%;
		margin: -50px auto;
	}
}

