@import "variables";

html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica-neue", "Helvetica", "Arial", "TImes new roman";
}

p{
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: $blue;
}

.container {
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
    padding: 0;
}

.row{
    padding: 15px 0px;
	width: $one-hundred-percentage;
    float: left;

}

.btn-nav-content{
    margin-top: 25px;    
    margin-right: 10px;
    margin-left: 10px;
    min-height: 150px;

    .hidden{
        display: none;
    }

    .visible{
        display: block;
    }

    @media screen and (max-width: $mobile){
        min-height: 100px;
    }
}