//Value variables

$max-width: 960px;
$min-width: 320px;
$one-hundred-percentage: 100%;
$header-height: 70px;


//Color Variables

$red: #cf150a;
$green: #4CD964;
$white: #fff;
$black: #000;
$blue: #446CB3;


//Media queries variables

$mobile: 767px;


//Font sizes

$menu-font-size: 18px;
$header-name-desktop: 25px;
